<div class="container-fluid" id="header">
	<div class="container">
		<!--START LOGOAREA-->
		<div class="row" id="logoArea">
			<div class="column">
				<img alt="Logo" src="https://community.specialolympics.ie/view.image?pane=Logo&amp;panename=Logo%20-%20Logo" title="Logo - Logo" data-runat="server" data-template_pane="1" data-paneid="Logo" data-panedescription="Logo" />
			</div>
			<div class="column">
				<img alt="Partners" src="https://community.specialolympics.ie/view.image?pane=Partners&amp;panename=Partners%20-%20Partners" title="Partners" data-runat="server" data-template_pane="1" data-paneid="Partners" data-panedescription="Partners" />
			</div>
			<div class="column">
				<img alt="Social" src="https://community.specialolympics.ie/view.image?pane=Social&amp;panename=Social" title="Social" data-runat="server" data-template_pane="1" data-paneid="Social" data-panedescription="Social" />
			</div>
		</div>
		<!--END LOGO AREA-->
		<!--START NAV-->
		<div class="row" id="navBar">
			<img alt="navBar" src="https://community.specialolympics.ie/view.image?pane=navBar&amp;panename=navBar" title="navBar" data-runat="server" data-template_pane="1" data-paneid="navBar" data-panedescription="navBar" />
		</div>

	</div>
</div>
<div id="Tags">
	<p><img alt="HeaderTags - HeaderTags" src="https://community.specialolympics.ie/view.image?pane=HeaderTags&amp;panename=HeaderTags%20-%20HeaderTags" title="HeaderTags - HeaderTags" data-runat="server" data-template_pane="1" data-paneid="HeaderTags" data-panedescription="HeaderTags" /></p>
<p><img alt="EndOfBodyScripts - EndOfBodyScripts" src="https://community.specialolympics.ie/view.image?pane=EndOfBodyScripts&amp;panename=EndOfBodyScripts%20-%20EndOfBodyScripts" title="EndOfBodyScripts - EndOfBodyScripts" data-runat="server" data-template_pane="1" data-paneid="EndOfBodyScripts" data-panedescription="EndOfBodyScripts" /></p>
</div>