<div id="header" class="container-fluid">
  <div class="container">
    <!--START LOGOAREA-->
    <div id="logoArea" class="row">
      <div class="column" title="undefined" data-paneid="undefined" data-panedescription=""><img alt="Logo - Logo" src="https://community.specialolympics.ie/view.image?pane=Logo&amp;panename=Logo%20-%20Logo" title="Logo - Logo" data-runat="server" data-template_pane="1" data-paneid="Logo" data-panedescription="Logo" /></div>
      <div class="column"><img alt="Partners - Partners" src="https://community.specialolympics.ie/view.image?pane=Partners&amp;panename=Partners%20-%20Partners" title="Partners - Partners" data-runat="server" data-template_pane="1" data-paneid="Partners" data-panedescription="Partners"
        /></div>
      <div class="column"><img alt="Social - Social" src="https://community.specialolympics.ie/view.image?pane=Social&amp;panename=Social%20-%20Social" title="Social - Social" data-runat="server" data-template_pane="1" data-paneid="Social" data-panedescription="Social" /></div>
    </div>
    <!--END LOGO AREA-->
    <!--START BANNER-->
    <div class="row">
      <div class="col">
        <img alt="banner - banner" src="https://community.specialolympics.ie/view.image?pane=banner&amp;panename=banner%20-%20banner" title="banner - banner" data-runat="server" data-template_pane="1" data-paneid="banner" data-panedescription="banner" />
      </div>
    </div>
    <!--START NAV-->
    <div id="navBar" class="row"><img alt="navBar - navBar" src="https://community.specialolympics.ie/view.image?pane=navBar&amp;panename=navBar%20-%20navBar" title="navBar - navBar" data-runat="server" data-template_pane="1" data-paneid="navBar" data-panedescription="navBar" /></div>
    <!--START FULL WIDTH-->
    <div class="row">
      <div class="col">
        <img alt="fullWidth - fullWidth" src="https://community.specialolympics.ie/view.image?pane=fullWidth&amp;panename=fullWidth%20-%20fullWidth" title="fullWidth - fullWidth" data-runat="server" data-template_pane="1" data-paneid="fullWidth" data-panedescription="fullWidth"
        />
      </div>
    </div>
    <!--START CONTENT-->
    <div class="row">
      <div class="col-8">
        <img alt="content - content" src="https://community.specialolympics.ie/view.image?pane=content&amp;panename=content%20-%20content" title="content - content" data-runat="server" data-template_pane="1" data-paneid="content" data-panedescription="content"
        /></div>
      <!--START SIDEBAR-->

      <div class="col-4">
        <img alt="sidebar - sidebar" src="https://community.specialolympics.ie/view.image?pane=sidebar&amp;panename=sidebar%20-%20sidebar" title="sidebar - sidebar" data-runat="server" data-template_pane="1" data-paneid="sidebar" data-panedescription="sidebar"
        /></div>

    </div>
  </div>
  <div id="Tags">
    <p><img alt="HeaderTags - HeaderTags" src="https://community.specialolympics.ie/view.image?pane=HeaderTags&amp;panename=HeaderTags%20-%20HeaderTags" title="HeaderTags - HeaderTags" data-runat="server" data-template_pane="1" data-paneid="HeaderTags" data-panedescription="HeaderTags"
      /></p>
    <p><img alt="EndOfBodyScripts - EndOfBodyScripts" src="https://community.specialolympics.ie/view.image?pane=EndOfBodyScripts&amp;panename=EndOfBodyScripts%20-%20EndOfBodyScripts" title="EndOfBodyScripts - EndOfBodyScripts" data-runat="server" data-template_pane="1"
        data-paneid="EndOfBodyScripts" data-panedescription="EndOfBodyScripts" /></p>
  </div>
