<nav class="uk-navbar">
  <ul class="uk-navbar-nav">
    <li class="uk-active"><a href="target=&amp;pid=683&amp;did=0&amp;tab=0">Home</a></li>
    <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false"><a href="">New Volunteers</a>
      <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" aria-hidden="true" style="top: 40px; left: 0px;" tabindex="">
        <ul class="uk-nav uk-nav-navbar">
          <li><a href="target=&amp;pid=542&amp;did=0&amp;tab=0">Register</a></li>
          <li><a href="target=&amp;pid=521&amp;did=0&amp;tab=0">Continue Application</a></li>
          <li><a href="target=&amp;pid=551&amp;did=0&amp;tab=0">Download Forms</a></li>
          <li><a href="https://moodle2.specialolympics.ie/course/view.php?id=7">Induction Online</a></li>
          <li><a href="target=&amp;pid=529&amp;did=0&amp;tab=0">Upload Photo</a></li>
        </ul>
      </div>
    </li>
    <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
      <a href="">Re-Vetting</a>
      <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" aria-hidden="true" style="top: 40px; left: 0px;" tabindex="">
        <ul class="uk-nav uk-nav-navbar">
          <li><a href="https://community.specialolympics.ie/re-vetting/logonpage2?tab=500">Create your profile</a></li>
          <li><a href="target=&amp;pid=568&amp;did=0&amp;tab=0">Update Details</a></li>
          <li><a href="target=&amp;pid=590&amp;did=0&amp;tab=0">Download Forms</a></li>
          <li><a href="https://moodle2.specialolympics.ie/course/view.php?id=12">Safeguarding Refresher</a></li>
          <li><a href="target=&amp;pid=575&amp;did=0&amp;tab=0">Upload Photo</a></li>
        </ul>
      </div>
    </li>
    <li><a href="https://community.specialolympics.ie/page.aspx?pid=442&tab=2">Logout</a></li>
  </ul>
  <a class="uk-navbar-toggle uk-hidden-medium uk-hidden-large" title="" href="#offcanvas">&nbsp;</a></div>
</nav>
<!--OFF CANVAS MENU-->
<header class="mobile uk-hidden-large uk-hidden-medium">
  <nav class="uk-navbar uk-flex uk-flex-middle">
    <div class="uk-navbar-content logo-container"><a class="uk-navbar-toggle" href="#offcanvas" data-uk-offcanvas="">&nbsp;</a> <a href="#"><img class="logo" src=" https://community.specialolympics.ie/image/design/White_2_Line_Landscape_Left.png" /></a></div>
  </nav>
</header>
<div id="offcanvas" class="uk-offcanvas">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-offcanvas">
      <li class="uk-active"><a href="target=&amp;pid=683&amp;did=0&amp;tab=0">Home</a></li>
      <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false"><a href="">New Volunteers</a>
        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" aria-hidden="true" style="top: 40px; left: 0px;" tabindex="">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="target=&amp;pid=542&amp;did=0&amp;tab=0">Register</a></li>
            <li><a href="target=&amp;pid=521&amp;did=0&amp;tab=0">Continue Application</a></li>
            <li><a href="target=&amp;pid=551&amp;did=0&amp;tab=0">Download Forms</a></li>
            <li><a href="https://moodle2.specialolympics.ie/course/view.php?id=7">Induction Online</a></li>
            <li><a href="target=&amp;pid=529&amp;did=0&amp;tab=0">Upload Photo</a></li>
          </ul>
        </div>
      </li>
      <li class="uk-parent" data-uk-dropdown="" aria-haspopup="true" aria-expanded="false">
        <a href="">Re-Vetting</a>
        <div class="uk-dropdown uk-dropdown-navbar uk-dropdown-bottom" aria-hidden="true" style="top: 40px; left: 0px;" tabindex="">
          <ul class="uk-nav uk-nav-navbar">
            <li><a href="https://community.specialolympics.ie/re-vetting/logonpage2?tab=500">Create your profile</a></li>
            <li><a href="target=&amp;pid=568&amp;did=0&amp;tab=0">Update Details</a></li>
            <li><a href="target=&amp;pid=590&amp;did=0&amp;tab=0">Download Forms</a></li>
            <li><a href="https://moodle2.specialolympics.ie/course/view.php?id=12">Safeguarding Refresher</a></li>
            <li><a href="target=&amp;pid=575&amp;did=0&amp;tab=0">Upload Photo</a></li>
          </ul>
        </div>
      </li>
    </ul>
  </div>
</div>
